//- widgets/radio.pug
mixin radio(name, pretext, entries)
  .field(class='field_' + name)
    .field-label= pretext
    .field-value
      each value, label in entries
        input(
          id=name + '_' + value,
          type='radio',
          name=name,
          value=value,
          class='input-radio'
        )
        label.radio-label(for=name + '_' + value)= label
