//- widgets/select.pug
mixin select(name, pretext, entries, followtext)
  .field(class='field_' + name)
    .field-label= pretext
    .field-value
      select(
            id=name,
            name=name,
            class='input-select'
          )
        each label, value in entries
          option(value=value)= label
      span.select-followtext= followtext
